<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SafeRijndael.SafeRijndael.Configs.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SafeRijndael.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SafeRijndael.SafeRijndael.Configs.AppSettings>
      <setting name="二重起動の防止" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ドラッグアンドドロップを許可" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="プログレスウィンドウを出力後に閉じる" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ハッシュ化アルゴリズム" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="進捗終了時のメッセージ" serializeAs="String">
        <value>False</value>
      </setting>
    </SafeRijndael.SafeRijndael.Configs.AppSettings>
    <SafeRijndael.AppSettings>
      <setting name="二重起動の防止" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="出力後にエクスプローラーで開く" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ドラッグアンドドロップを許可" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="プログレスウィンドウを出力後に閉じる" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ハッシュアルゴリズム" serializeAs="String">
        <value>SHA2</value>
      </setting>
      <setting name="圧縮を行う" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ソルトのサイズ" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ストレッチの反復回数" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="オリジナルのファイル拡張子を使う" serializeAs="String">
        <value>False</value>
      </setting>
    </SafeRijndael.AppSettings>
  </userSettings>
</configuration>
